* {
    box-sizing: border-box;
}

html {
    font-family: 'Catamaran', sans-serif;
}

ol li{
    list-style: number;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.global-settings {
    padding: 0 20px;
    height: auto;
}


.menu {
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
}

.expanded {
   
}

.expanded a {
    text-decoration: none;
    color: #323232;
}

.logo {
    margin: 20px;
    width: 200px;
}

.hero-image {
    background: linear-gradient(#ffcf28, #edb60d);
    height: auto;
    text-align: left;
    padding: 15px;
    text-transform: uppercase;
}

.hero-text-white {
    color: #fff;

}

.title-hero-image {
    font-size: 26px;
    font-weight: 700;
    color: #323232;
    margin: 30px 0 40px 0;

}

.first-claim {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    margin-top: 40px;
}

.second-claim {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    color: #323232;
    margin-top: 20px;
}

.about-steps {
    background-color: white;
}

.benefits {
    background-color: gray;
}

.subscribe {
    font-family: 'Catamaran', sans-serif;
    color: #323232;
    font-weight: medium;
    font-size: 24px;
    background-color: #f8c512;
    text-align: center;
    padding-bottom: 30px; 
}   
.subscribe h2{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 55px 0px 30px 0px;
}
.subscribe p{
    text-align: left;
    font-size: 24px;
    text-transform: uppercase;
    padding: 30px 0px 30px 20px;
}
.subscribe .form-consent-box{
    display: flex;
    align-items: baseline;
    padding: 20px 0px 10px 0px;
}
.subscribe .form-consent-checkbox{
    width: auto;
    padding: 0;
    margin: 0 -15px 0px 15px;
}
.subscribe .form-consent-text{
    font-size: 10px;
    text-transform: initial;
    padding: 0px 0px 30px 20px;
}
.subscribe input{
    width: 80%;
    font-size: 18px;
    font-weight: regular; 
    color: #323232;
    padding: 15px 0 10px 0;
    border: none;
    border-bottom: 3px solid #ffffff;
    background-color: #f8c512;
}
.subscribe input::placeholder{
    font-family: 'Catamaran', sans-serif;
    color: #323232;
    opacity: 1;
}
.subscribe .subscribe-button{
    width:50%;
    background: #ffffff;
    border-radius: 30px;
    color: darkblue;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0px 10px 0px;
}


@media(min-width: 960px){

    .hero-image {
        /* background: #f8c512 url(/img/reka.png) no-repeat center bottom;
        background-size: 30%; */
        background: #f8c512 url(/img/reka.png) no-repeat 450px 40px;
        background-size: contain;
    }

    .subscribe{
        background: #f8c512 url(/img/pic3.png) no-repeat right bottom;
    }

    footer {
        background-color: black;
    }

    .team {
        background-color: white;
    }
    
}